{% extends 'base.html' %}
{% block title %} {{tag.name}} Details {% endblock %}
{% block content %}
<div class="row my-4">
    <div class="col">
    <h4 class="d-inline">Tag Name: {{tag.name}}</h4>
    <a href="/tags/{{tag.id}}/edit" class="btn btn-outline-warning btn-sm mx-2">Edit Tag</a>
    <form action="/tags/{{tag.id}}/delete" method="POST" id="delete_form">
        <button class="btn btn-danger btn-sm">Delete Tag</button>
    </form>
    <h4 class="mt-3">Posts with {{tag.name}} tag</h4>
    {% if tag.post %}
    <ul class="mx-4">
        {% for post in tag.post %}
        <li>
            <a href="/posts/{{post.id}}">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h5>Tag has no posts</h5>
    {% endif %}
    </div>
</div>
<a href="/tags" class="btn btn-primary">Back to tag list</a>
{% endblock %}